extends layout

block title
  title binb :: leaderboards

block brand
  a.brand(href="#")
    .icons.logo #{slogan}

block sections
  section
    .row
      .span7.offset1
        .highscores High Scores
          .icons.img
  section
    .row
      .span7.offset1.relative
        h4 Points
        .leaderboard-wrapper
          table.table.table-striped.table-bordered.leaderboard
            tbody
              - each user, i in pointsleaderboard
                tr
                  td #{i+1}
                  td
                    a(href="/user/#{user.username}") #{user.username}
                  td #{user.totpoints}
          .loading
            .loading-block
            .loading-block
            .loading-block
      .span7.relative
        h4 Times
        .leaderboard-wrapper
          table.table.table-striped.table-bordered.leaderboard
            tbody
              - each user, i in timesleaderboard
                tr
                  td #{i+1}
                  td
                    a(href="/user/#{user.username}") #{user.username}
                  td
                    i.icon-time
                    |  #{user.bestguesstime} sec
          .loading
            .loading-block
            .loading-block
            .loading-block

block scripts
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="/static/js/leaderboards.min.js")
