token = (typeof(token) !== "undefined") ? '?token='+token : ''
doctype html
html
    include header
        title binb :: Reset password
        script(src="/static/js/bootstrap.min.js")
    body
        include uv.jade
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.brand(href="#")
                        .logo #{motto}
        .container
            section
                .row
                    .span12.offset2
                        if ((typeof(errors) !== "undefined") && (typeof(errors.alert) !== "undefined"))
                            .alert.alert-error
                                a.close(data-dismiss="alert") &times;
                                strong Oh snap!
                                |  #{errors.alert}
                        form.form-horizontal.well(method="post",action="/resetpasswd#{token}")
                            fieldset
                                if (typeof(errors) !== "undefined")
                                    if (typeof(errors.password) !== "undefined")
                                        .control-group.error
                                            label.control-label(for="password") New password
                                            .controls
                                                input#oldpassword(type="password",name="password")
                                                span.help-inline #{errors.password}
                                    else
                                        .control-group
                                            label.control-label(for="password") New password
                                            .controls
                                                input#username(type="password",name="password",
                                                    placeholder="enter your new password...")
                                else
                                    .control-group
                                        label.control-label(for="oldpassword") New password
                                        .controls
                                            input#username(type="password",name="password",
                                                placeholder="enter your new password...")
                                button.submit-button.btn.btn-primary(type="submit")
                                    i.icon-edit.icon-white
                                    |  Update
            include footer
