doctype html
html
    include header
        title binb :: #{roomname}
        script(src="/socket.io/socket.io.js")
        script(src="/static/js/bootstrap.min.js")
        script(src="/static/js/jquery.jplayer.min.js")
        script(type='text/javascript')
            var roomname = "#{roomname}";
        script(src="/static/js/room.js")
    body
        include uv.jade
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    ul.nav.pull-right
                        li
                            a(href="/") Home
                        li.active.dropdown
                            a.dropdown-toggle(data-toggle="dropdown",href="#") #{roomname} 
                                b.caret
                            ul.dropdown-menu
                                each item in rooms
                                    if item != roomname
                                        li
                                            a(href="/#{item}") #{item}
                        if (typeof(loggedin) !== "undefined")
                            li
                                p.navbar-text Logged in as 
                                    a#loggedin(href="/user/#{encodeURIComponent(loggedin)}",
                                        target="_blank") #{loggedin.replace(/&/g, '&amp;')}
                            li
                                a(href="/logout") Logout
                        else
                            li
                                a(href="/signup") Sign up
                            li
                                a(href="/login") Login
        #player
        #modal.modal.fade
        .container
            section
                .row
                    .span4.offset1
                        #cassette.relative
                            #wheel-left.wheel
                            #tape-left
                            #tape-right
                            #wheel-right.wheel
                            #progress-bar
                                #progress
                            #countdown
                    .span2
                        #volume.relative
                    .span8
                        .page-header
                            .logo #{motto}
                            #total-tracks <span></span> tracks.
                        #summary.row
                            .span2
                                .title Rank
                                .rank
                            .span4
                                .title Points
                                .points
                            .span2
                                .title Track
                                .track
                        p#feedback Waiting for connection...
                        input#guess.span8(type="text",tabindex="1",
                            placeholder="guess the artist and/or title here")
            section.relative
                .row
                    #users-wrapper.span5.offset2
                        ul#users.unstyled
                    .span8
                        a#toggle-chat Hide chat
                        #chat-outer-wrapper
                            #chat-wrapper.bordered
                                ul#chat.unstyled
                            #message-wrapper
                                span#recipient
                                input#message.span8(type="text",tabindex="2")
                        ul#tracks.unstyled
                #disclaimer
                    div I do not own any right on the songs that are played here.
                    div Tracks are played using iTunes api preview.
                    div Original idea from 
                        a(target="_blank", href="http://beatquest.fm/") beatquest.fm
                        |.
            include footer
