doctype html
html	
	include header
		title binb :: sign up
		script(src="/static/js/bootstrap.min.js")
	body
		include uv.jade
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="/") binb, 
						span.motto #{motto}
					ul.nav.pull-right
						li
							a(href="/") Home
						li.active
							a(href="/signup") Sign up
						li
							a(href="/login") Login
		.container
			section
				.row
					.span3
						h3 Not a new user?
						a(href="/login") Click here to log in.
					.span13
						h3 Why sign up?
						p Registration is optional, but if you are a regular user consider creating  
							| an account. This will provide the following advantages:
						ul
							li You will be the one and only owner of your nickname (no one can use 
								| your nickname in your place).
							li Some simple stats related to your account will be collected.
						if ((typeof(errors) !== "undefined") && (typeof(errors.alert) !== "undefined"))
							.alert.alert-error
								a.close(data-dismiss="alert") &times;
								strong Oh snap!
								|  #{errors.alert}
						form.form-horizontal.well(method="post",action="/signup")
							fieldset
								if (typeof(errors) !== "undefined")
									if (typeof(errors.username) !== "undefined")
										.control-group.error
											label.control-label(for="username") Name
											.controls
												input#username(type="text",name="username",
													value="#{username}")
												span.help-inline #{errors.username[0]}
									else
										.control-group
											label.control-label(for="username") Name
											.controls
												input#username(type="text",name="username",
													value="#{username}")
									if (typeof(errors.email) !== 'undefined')
										.control-group.error
											label.control-label(for="email") Email
											.controls
												input#email(type="text",name="email",
													value="#{email}")
												span.help-inline #{errors.email[0]}
									else
										.control-group
											label.control-label(for="email") Email
											.controls
												input#email(type="text",name="email",
													value="#{email}")
									if (typeof(errors.password) !== 'undefined')
										.control-group.error
											label.control-label(for="password") Password
											.controls
												input#password(type="password",name="password")
												span.help-inline #{errors.password[0]}
									else
										.control-group
											label.control-label(for="password") Password
											.controls
												input#password(type="password",name="password")
									if (typeof(errors.captcha) !== 'undefined')
										.control-group.error
											label.control-label(for="captcha-input") Are you human?
											.controls
												img#captcha(src="#{captchaurl}")
												input#captcha-input(type="text",name="captcha")
												span.help-inline #{errors.captcha[0]}
									else
										.control-group
											label.control-label(for="captcha-input") Are you human?
											.controls
												img#captcha(src="#{captchaurl}")
												input#captcha-input(type="text",name="captcha")
								else
									.control-group
										label.control-label(for="username") Name
										.controls
											input#username(type="text",name="username",
												placeholder="enter a nickname...")
									.control-group
										label.control-label(for="email") Email
										.controls
											input#email(type="text",name="email",
												placeholder="enter a valid email...")
									.control-group
										label.control-label(for="password") Password
										.controls
											input#password(type="password",name="password",
												placeholder="enter a password...")
									.control-group
										label.control-label(for="captcha-input") Are you human?
										.controls
											img#captcha(src="#{captchaurl}")
											input#captcha-input(type="text",name="captcha",
												placeholder="type what you see...")
								button#signup-button.btn.btn-success(type="submit")
									i.icon-user.icon-white
									|  Sign up!
			include footer
